 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav{
    background-color: #f6f6f6;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

}
nav h2{
    color: chocolate;
    font-weight: 500;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 50px;
    padding: 0 30px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav a:hover{
    transition: .6s;
    color: #fff;
   background: rgb(235, 99, 2);
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 200px;
    width: 250px;
    z-index: 999;
    background-color: #f6f6f6;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    color: black;
}
.menu-button{
    display: none;
}

@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

.container{
    left: 0;
    width: 100%;
    height: 700px;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    background-position: center;
}
@keyframes animate {
    0%,100%{
        background-image: url(../images/football\ background1.jpg);
    }
    25%{
        background-image: url(../images/football\ background2.jpg);
    }
    50%{
        background-image: url(../images/football\ background3.jpg);
    }
    75%{
        background-image: url(../images/football\ background4.jpg);
    }
}

.outer{
    position: absolute;
    left: 0;
    width: 100%;
    height: 700px;
}

.details{
    position: absolute;
    left: 10%;
    top: 15%;
    text-align: left;
}
.details h1{
    color: #fff;
    font-size: 5rem;
}

.details h2{
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

.details .tickets-btn{
    position: absolute;
    top: 120%;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    background: red;
    border-radius: 30px;
    cursor: pointer;
    transition: .6s;
}

.details .tickets-btn:hover{
    transition: .6s;
    translate: 5%;
    background: transparent;
    border: 2px solid rgb(235, 99, 2);
}

.social-media {
    position: absolute;
    display: flex;
    top: 78%;
    left: 10%;
    width: 20%;
    height: 50px;
}

.social-media .bx{
    color: #fff;
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: .6s;
}

.social-media .bx:hover{
   transition: .6s;
   color: rgb(235, 99, 2);
}

   

@media(max-width: 280px){
   .container{
    height: 400px! important;
   }
   .details{
    top: 10%;
    left: 5%;
   }
   .details h1{
    font-size: 2rem;
   }
   .details h2{
    font-size: 12px;
   }
   .details .tickets-btn{
    top: 110%! important;
    padding: 8px 10px;
   }
   .social-media {
    top: 45%! important;
    left: 2%;
    width: 100%;
    height: 40px;
}

.social-media .bx{
    margin: 7px;
    font-size: 20px;
}

}

@media(max-width: 320px){
    .container{
     height: 400px;
    }
    .details{
     top: 10%;
     left: 5%;
    }
    .details h1{
     font-size: 2rem! important;
    }
    .details h2{
     font-size: 10px;
    }
    .details .tickets-btn{
     top: 120%;
     padding: 8px 10px;
    }
    .social-media {
     top: 41%;
     left: 3%;
     width: 100%;
     height: 40px;
 }
 
 .social-media .bx{
     margin: 7px;
     font-size: 20px;
 }
 }

 @media(max-width: 768px){
    .container{
     height: 400px;
    }
    .details{
     top: 10%;
     left: 5%;
    }
    .details h1{
     font-size: 3rem;
    }
    .details h2{
     font-size: 1rem;
    }
    .details .tickets-btn{
     top: 110%;
     padding: 8px 10px;
    }
    .social-media {
     top: 47%;
     left: 4%;
     width: 100%;
     height: 40px;
 }
 
 .social-media .bx{
     margin: 7px;
     font-size: 20px;
 }
 
 }

 @media (max-width: 1080px){
    .container{
        height: 400px;
       }
       .details{
        top: 10%;
        left: 5%;
       }
       .details h1{
        font-size: 2rem! important;
       }
       .details h2{
        font-size: 10px;
       }
       .details .tickets-btn{
        top: 120%;
        padding: 8px 10px;
       }
       .social-media {
        top: 41%;
        left: 3%;
        width: 100%;
        height: 40px;
    }
    
    .social-media .bx{
        margin: 7px;
        font-size: 20px;
    }
    
 }
 
 .predictions {
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.predictions-text{
    display: flex;
    width: 100%;
    height: 50px;
    background: black;
    margin-bottom: 1%;
    justify-content: space-between;
}

.predictions-text h2 {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    margin-left: 2%;
}
.livedate{
    color: #fff;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 12px 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(3),tr:nth-child(5), tr:nth-child(7), tr:nth-child(9), tr:nth-child(11),
tr:nth-child(13), tr:nth-child(15), tr:nth-child(17), tr:nth-child(19), tr:nth-child(21){
    background-color: #ececec;
    cursor: pointer;
}
th {
    background-color: #ffe3a7;
    cursor: pointer;
}

@media(max-width: 280px){
    .predictions {
        padding: 5px;
    }
    .predictions-text{
        border-radius: 5px;
        height: 40px;
        margin: 0%;
    }
    .predictions-text h2{
        font-size: 13px;
    }
    table {
       margin-top: 4%;
       width: 100%! important;
    }
    th, td {
        padding:8px 5px;
        font-size: 10px;
    }
}

@media(max-width: 320px){
    .predictions {
        padding: 5px;
    }
    .predictions-text{
        border-radius: 5px;
        height: 40px;
        margin: 0%;
    }
    .predictions-text h2{
        font-size: 13px;
    }
    table {
       margin-top: 4%;
       width: 100%! important;
    }
    th, td {
        padding:8px 5px;
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
}

@media (max-width: 1080px) {
    .predictions {
        padding: 20px;
    }
    .predictions-text{
        width: 100%;
        height: 30px;
        margin: 0%;
        padding: 0px;
    }
    table {
        font-size: 13px;
        margin-top: 3%;
        width: 100%;
    }
    .predictions-text h2{
        font-size: 13px;
    }
}

.advert{
    margin-top: 2%;
    margin-left: 20%;
    width: 60%;
    height: 300px;
    background: red;
}

.advert-img{
    width: 100%;
    height: 300px;
}

@media (max-width: 280px){
   .advert{
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
    height: 100px! important;
   } 
   .advert-img{
    height: 100px! important;
   }
}

@media (max-width: 320px){
    .advert{
     margin-top: 5%;
     height: 200px;
    } 
    .advert-img{
     height: 200px;
    }
 }

 @media (max-width: 768px){
    .advert{
     width: 90%;
     margin-left: 5%;
     margin-top: 5%;
     height: 200px;
    } 
    .advert-img{
     height: 200px;
    }
 }

 @media (max-width: 1080px){
    .advert{
     margin-top: 5%;
     height: 200px;
    } 
    .advert-img{
     height: 200px;
    }
 }
 
.advice{
    display: flex;
    width: 100%;
    height: auto;
    background:linear-gradient(rgba(0,0,0.5),#2f2f2f14), url(../images/pexels-photo-1884574.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
 .card {
    width: 20%;
    height: 200px;
    margin: 20px;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    background-color: #f6f6f600;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.card-header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
    font-weight: bold;
    font-weight: 500;
}
.card-content {
    padding: 20px;
    color: #fff;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    width: 20%;
    cursor: pointer;
}
@media (max-width:280px){
    .advice{
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
    .card-header{
        text-align: center;
    }
    .card-content{
        font-size: 15px;
    }
}

@media (max-width:320px){
    .advice{
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
    .card-header{
        text-align: center;
    }
    .card-content{
        font-size: 15px;
    }
}

@media (max-width:400px){
    .advice{
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
    .card-header{
        text-align: center;
    }
    .card-content{
        font-size: 15px;
    }
}
@media (max-width:600px){
    .advice{
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
    .card-header{
        text-align: center;
    }
    .card-content{
        font-size: 15px;
    }
}

@media (max-width:768px){
    .advice{
        flex-direction: column;
    }
    .card{
        width: 70%;
    }
    .card-header{
        text-align: center;
    }
    .card-content{
        font-size: 15px;
    }
}

@media (max-width:1080px){
    .advice{
        flex-direction: column;
    }
    .card{
        width: 80%;
    }
    .card-header{
        text-align: center;
    }
    .card-content{
        font-size: 15px;
    }
}
 

footer {
    background-color: #1d1d1d;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 5px;
}

.footer-section h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}

.social-icons a, i {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.social-icons i{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background: rgb(255, 106, 0);
    padding: 8px ;
    border-radius: 4px;
}
.social-icons i:hover{
    transition: .6s;
    border: 1px solid rgb(255, 106, 0);
    background: transparent;
    cursor: pointer;
}
.copyright {
    font-size: 14px;
    margin-top: 20px;
}

@media(max-width: 280px){
    .footer-section{
        padding: 5px;
    }
    .footer-section h3{
        font-size: 15px;
    }
    .social-icons a, i{
        font-size: 15px;
    }
    .copyright {
        font-size: 12px;
    }
}
@media(max-width: 320px){
    .footer-section{
        padding: 5px;
    }
    .footer-section h3{
        font-size: 15px;
    }
    .social-icons a, i{
        font-size: 15px;
    }
    .copyright {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .footer-section {
        flex: 1 0 100%;
    }
}

@media(max-width: 1080px){
    .footer-section{
        padding: 5px;
    }
    .footer-section h3{
        font-size: 15px;
    }
    .social-icons a, i{
        font-size: 15px;
    }
    .copyright {
        font-size: 12px;
    }
}

.hero {
    background-image: url('../images/football\ background1.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
}
.hero p, a{
    color: #fff;
    text-decoration: none;
    transition: .6s;
}
.hero a:hover{
    transition: .6s;
    color: rgb(235, 99, 2);
}

/* About Section Styles */
.about {
    padding: 60px;
    justify-content: left;
}

.about h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
}

.more-content {
    
}

#show-more-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 1%;
    transition: .6s;
}
#show-more-btn:hover{
    transform: scale(1.1);
    transition: 0.5s;
    width: 8%;
    background: rgb(235, 99, 2);
    cursor: pointer;
}

/* Add your responsive styles here */
@media (max-width: 768px) {
    .hero {
        padding: 80px 0;
    }

    .hero h1 {
        font-size: 28px;
    }

    .about h2 {
        font-size: 20px;
    }

    .about p {
        font-size: 16px;
    }
}

.feedback-section{
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
    background:linear-gradient(rgba(0,0,0.5),#2f2f2f14), url(../images/pexels-photo-1884574.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.feedback-card {
    width: 20%;
    height: 200px;
    margin: 20px;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    background-color: #f6f6f600;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 30px;
}
.feedback-card p {
    font-size: 16px;
    color: #fff;
}
.feedback-card h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
}

.feedback-card .span{
   text-align: center;
}

.span #quotation-img{
    width: 40%;
    height: 70px;
}

@media(max-width: 280px){
    .feedback-section{
        flex-direction: column;
    }
    .feedback-card{
        width: 70%;
        height: 180px;
        margin: 10px;
        padding: 10px;
    }
    .feedback-card p{
        font-size: 12px;
        text-align: center;
    }

    .feedback-card h3{
        font-size: 15px;
        text-align: center;
    }
    .span #quotation-img{
        width: 20%;
        height: 50px;
    }
}

@media(max-width: 320px){
    .feedback-section{
        flex-direction: column;
    }
    .feedback-card{
        width: 70%;
        height: 180px;
        margin: 10px;
        padding: 10px;
    }
    .feedback-card p{
        font-size: 12px;
        text-align: center;
    }

    .feedback-card h3{
        font-size: 15px;
        text-align: center;
    }
    .span #quotation-img{
        width: 20%;
        height: 50px;
    }
}

@media(max-width: 768px){
    .feedback-section{
        flex-direction: column;
    }
    .feedback-card{
        width: 70%;
        height: 180px;
        margin: 10px;
        padding: 10px;
    }
    .feedback-card p{
        font-size: 12px;
        text-align: center;
    }

    .feedback-card h3{
        font-size: 15px;
        text-align: center;
    }
    .span #quotation-img{
        width: 20%;
        height: 50px;
    }
}

@media(max-width: 1080px){
    .feedback-section{
        flex-direction: column;
    }
    .feedback-card{
        width: 70%;
        margin-left: 7%;
        height: 180px;
    }
    .feedback-card p{
        font-size: 12px;
        text-align: center;
    }

    .feedback-card h3{
        font-size: 15px;
        text-align: center;
    }
    .span #quotation-img{
        width: 20%;
        height: 50px;
    }
}

.vip-section{
    width: 100%;
    height: 500px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.vip-card {
    width: 20%;
    height: 450px;
    border: 1px solid #ccc;
    margin-left: 36%;
    padding: 25px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.vip-card h3{
    font-weight: 500;
    margin-top: 3%;
}
.vip-card p{
    padding: 3px;
}
.card-header {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.card-icon i{
    color: rgb(255, 196, 0);
    font-size: 50px;
    margin-top: 5%;
}
.card-text {
    margin-top: 15px;
}

.purchase-button {
    background-color: rgb(235, 99, 2);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 5%;
}

.purchase-button:hover {
    background-color: rgb(201, 84, 0);
}

@media (max-width: 280px){
    .vip-card{
        width: 70%;
        margin-left: 0%! important;
    }

    .vip-card p{
        padding: 2px;
    }
    .card-header {
        font-size: 15px;
    }
    
    .card-icon i{
        font-size: 40px;
    }

    .card-text, p {
        margin-top: 10px;
        font-size: 12px;
    }

    .purchase-button {
        background-color: rgb(235, 99, 2);
        color: #fff;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 12px;
    }
    
}

@media (max-width: 320px){
    .vip-card{
        width: 70%;
        margin-left: 1%! important;
    }

    .vip-card p{
        padding: 2px;
    }
    .card-header {
        font-size: 18px;
    }
    
    .card-icon i{
        font-size: 40px;
    }

    .card-text {
        margin-top: 10px;
    }

    .purchase-button {
        background-color: rgb(235, 99, 2);
        color: #fff;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 12px;
    }
    
}

@media (max-width: 768px){
    .vip-card{
        width: 70%;
        margin-left: 10%;
    }

    .vip-card p{
        padding: 2px;
    }
    .card-header {
        font-size: 18px;
    }
    
    .card-icon i{
        font-size: 40px;
    }

    .card-text {
        margin-top: 10px;
    }

    .purchase-button {
        background-color: rgb(235, 99, 2);
        color: #fff;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 12px;
    }
    
}

@media (max-width: 1080px){
    .vip-card{
        width: 70%;
        margin-left: 6%;
    }

    .vip-card p{
        padding: 2px;
    }
    .card-header {
        font-size: 18px;
    }
    
    .card-icon i{
        font-size: 40px;
    }

    .card-text {
        margin-top: 10px;
    }

    .purchase-button {
        background-color: rgb(235, 99, 2);
        color: #fff;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 15px;
    }
    
}

.terms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
}
.terms-text {
    margin-top: 20px;
}
p {
    margin: 10px 0;
}
/* Make it responsive */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}